.place__title {
    font-weight: 900;
    font-style: bolder;
    font-size: 72px;
    line-height: 76px;
    max-width: 100%;
    place-self: bottom;
    margin: 0;
    }

    @media screen and (max-width: 1010px) {
        .place__title {
            font-size: 42px;
            line-height: 46px;
        }
    }
    