.places {
    max-width: 984px;
    padding: 92px 148px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

@media screen and (max-width: 1180px) {
    .places {
        padding: 92px 48px;
        max-width: 928px;
    }
}

@media screen and (max-width: 1010px) {
    .places {
        padding: 88px 24px 90px;
        max-width: 100%;
        row-gap: 73px;
    }
}

@media screen and (max-width: 650px) {
    .places {
        padding: 64px 16px 66px;
        max-width: 100%;
        row-gap: 50px;
    }
}

@media screen and (max-width: 400px) {
    .places {
        padding: 64px 0px 66px;
        max-width: 100%;
    }
}
