.lead__subtitle {
    max-width: 640px;
    text-align: center;
    margin: 32px auto 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    }

    @media screen and (max-width: 1010px) {
        .lead__subtitle {
            margin: 32px auto 56px;
        }
    }
    @media screen and (max-width: 750px) {
        .lead__subtitle {
            font-size: 24px;
            line-height: 30px;
            max-width: 400px;
            margin: 16px auto 40px;
        }
    }
    @media screen and (max-width: 430px) {
        .lead__subtitle {
            font-size: 16px;
            line-height: 20px;
            max-width: 288px;
            margin: 16px auto 40px;
        }
    }