@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

html, body {
margin: 0;
background-color:antiquewhite;
}

header, section, footer {
    border: 1px solid violet;
}
.page {
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: #2A2C2F; 
    min-height: 100vh;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 28px 48px 24px;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #fff;
}

.header__logo{
background-image: url(../images/header-logo.svg);
height: 52px;
width: 176px;
background-size: contain;
background-position: center;
}

.header__links {
    display:flex;
    column-gap: 18px;
}

.header__lang-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.content {
    flex: 1;
    color: #fff;
    box-sizing: border-box;
    max-width: 1184px;
}
.lead {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.lead__title {
font-weight: black;
font-size: 96px;
line-height: 100px;
width: 720px;
min-height: 200px;
text-align: center;
}
.lead__subtitle {
width: 640px;
min-height: 72px;
text-align: center;
margin: 32px auto 64px;
font-weight: normal;
font-size: 30px;
line-height: 36px;
}

.lead__images {
position: relative;
max-width: 984px;
}

.lead__image {
width: 100%;
height: 100%;
margin: 0 auto;
object-fit: cover;
}

.lead__caption {
margin: 8px 0 0 0;
align-self: flex-start;
font-weight: normal;
font-size: 10px;
line-height: 14px;
letter-spacing: 1.5px;
text-transform: uppercase;
}
.intro {
    margin: 0;
    padding-left: 100px;
}
.intro__title {
font-weight: black;
font-size: 54px;
line-height: 58px;
margin: 92px 0 40px;
}
.intro__text {
font-weight: normal;
font-size: 16px;
line-height: 163%;
min-height: 208px;
max-width: 690px;
margin: 0 0 33px;
}

.intro__list {
list-style: none;
margin: 0;
padding: 0;
font-weight: bold;
font-size: 12px;
line-height: 18px;
}
.intro__list-accent {
font-weight: normal;
font-size: 12px;
line-height: 18px;
}

.photo-grid {
    width: 100%;
    min-height: 671px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    padding-top: 92px;
    gap: 16px;
}
.photo-grid__item {
width: 100%;
height: 100%;
object-fit: cover;
}
.places {
    padding: 92px 100px;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    row-gap: 80px;
}
.place {
    display: grid; 
    grid-template-columns: repeat(2, fit-content(484px));
    column-gap: 40px;

}
.place__image {
    max-width: 460px;
    max-height: 460px;
    }

    .place__paragraph {
        max-width: 484px;
        margin: 0;
        font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    }
    
    .place__title {
    font-weight: bolder;
    font-size: 72px;
    line-height: 76px;
    width: 460px;
    place-self: bottom;
    margin: 0 0 48px;
    }

    .place__text {
        display:flex;
        flex-direction: column;
        row-gap: 26px;
    }

    .website {
        width: 456px;
        align-self: flex-end;
        margin: 0 0 48px;
    }
    .website__url-heading {
        color: #AAAAAA;
        font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    }
    .website__url-link {
        font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    }
    .website__url-link:hover {
        opacity: 0.8;
    }
    
    .cover {
        font-family: 'Inter', 'Arial', sans-serif;
    }

    .cover__link {
        text-decoration: none;
        color:#fff;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        min-height: 740px;
        background-image: url(../images/cover-trains.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        object-fit: cover;
    }

    .cover__title {
        font-weight: bolder;
        font-size: 72px;
        line-height: 76px;
        max-width: 560px;
        align-self: center;
        z-index: 1;
        }
        .cover__subtitle {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        max-width: 360px;
        align-self: center;
        z-index: 1;
    }
    .cover__link::before {
    content: '';
    background: rgba(42, 44, 47);
    opacity: .3;
    width: 100%;
    height: 100%;
    position: absolute;
    }

    .cover__link:hover::before {
        opacity: .8;
    }

/* .cover {
    background-image: url(../images/cover-trains.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
position: relative;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.cover__image {
background-image: url(../images/cover-trains.jpg);
background-repeat: no-repeat;
object-fit: cover;
width: 100%;
height: 100%;
}
.cover__overlay {
background-color: #2A2C2F;
opacity: .3;
width: 100%;
height: 100%;
z-index: -1;
position: absolute;
}
.cover__title {
font-weight: bolder;
font-size: 72px;
line-height: 76px;
max-width: 560px;
}
.cover__subtitle {
font-weight: normal;
font-size: 18px;
line-height: 22px;
max-width: 360px;} */

.footer {
    color:#fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 92px;
    font-family: 'Inter', 'Arial', sans-serif;
}
.footer__link {
    margin-right: 18px;
    font-weight: normal;
font-size: 16px;
line-height: 18px;
}
.footer__link:last-child {
 margin-right: 0;
}
.footer__copyright {
    margin: 0;
    font-weight: normal;
font-size: 14px;
line-height: 16px;
}

/* 
как позиционированы картинки в гриде в тренажере
.gallery__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
 */